<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<meta http-equiv="X-UA-Compatible" content="IE=edge">
		<title>Developer Cat</title>
		<link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
		<link href="/styles/site.css" rel="stylesheet">

		{{!-- This file provides the default styling for the KeystoneJS Content Editor
			- only renders when user is logged in and admin--}}
		{{{isAdminEditorCSS user}}}

		{{!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
		//- Safely remove this block if you are not targeting IE8 --}}

        <!-- Materialize Design icons -->
        <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
		
		<!--[if lt IE 9]>
			<script src="//cdn.jsdelivr.net/html5shiv/3.7.3/html5shiv.js"></script>
			<script src="//cdn.jsdelivr.net/respond/1.4.2/respond.min.js"></script>
		<![endif]-->

	</head>
	<body>
		<header>
            <div class="navbar-fixed">
                <nav>
                    <div class="nav-wrapper">
                        <!-- sidenav bar -->
                        <ul id="slide-out" class="side-nav">
                            <li>
                                <div class="userView">
                                    <img class="background" src="images/office.jpg">
                                    <a href="#!user"><img class="circle" src="images/yuna.jpg"></a>
                                    <a href="#!name"><span class="white-text name">John Doe</span></a>
                                    <a href="#!email"><span class="white-text email">jdandturk@gmail.com</span></a>
                                </div>
                            </li>
                            <li><a href="#!"><i class="material-icons">cloud</i>First Link With Icon</a></li>
                            <li><a href="#!">Second Link</a></li>
                            <li>
                                <div class="divider"></div>
                            </li>
                            <li><a class="subheader">Subheader</a></li>
                            <li><a class="waves-effect" href="#!">Third Link With Waves</a></li>
                        </ul>
                        <!-- hamburger button -->
                        <a href="#" data-activates="slide-out" class="button-collapse"><i
                                class="material-icons">menu</i></a>
                        <!-- navbar -->
                        <a href="#" class="brand-logo">Developer Cat</a>
                        <ul id="nav-mobile" class="right hide-on-med-and-down">
							{{# each navLinks}}
                                <li {{#ifeq ../section key}}class="active"{{else}}{{/ifeq}} >
                                    <a href="{{ href }}">{{ label }}</a></li>
							{{/each}}
							{{#if user}}
                                <li><a href="/keystone/signout">Sign Out</a></li>
							{{else}}
                                <li><a href="/keystone/signin">Sign In</a></li>
							{{/if}}
                        </ul>
                    </div>
                </nav>
            </div>
        </header>
        <!--
            Flash messages allow you to display once-off status messages to users, e.g. form
            validation errors, success messages, etc
        -->
		{{#if messages}}
            <div id="flash-messages" class="container">
				{{#if messages.info}}
                    <div class="alert alert-info">
						{{{flashMessages messages.info}}}
                    </div>
				{{/if}}
				{{#if messages.success}}
                    <div class="alert alert-success">
						{{{flashMessages messages.success}}}
                    </div>
				{{/if}}
				{{#if messages.warning}}
                    <div class="alert alert-warning">
						{{{flashMessages messages.warning}}}
                    </div>
				{{/if}}
				{{#if messages.error}}
                    <div class="alert alert-danger">
						{{{flashMessages messages.error}}}
                    </div>
				{{/if}}
            </div>
        </div>
			{{/if}}
		<main>
			<!-- The content block should contain the body of your template's content-->
			{{{body}}}
		</main>
        <footer class="page-footer grey darken-3">
            <div class="container">
                <div class="row">
                    <div class="col l6 s12">
                        <h5 class="white-text">Let's get connected</h5>
                        <p class="grey-text text-lighten-4">You can use rows and columns here to organize your footer content.</p>
                    </div>
                    <div class="col l4 offset-l2 s12">
                        <h5 class="white-text">Section</h5>
                        <ul>
							{{# each navLinks}}
                                <li>
                                    <a class="{{#ifeq ../section key}}teal-text{{else}}grey-text{{/ifeq}}
                                    text-lighten-3" href="{{ href }}">{{ label }}</a></li>
							{{/each}}
                        </ul>
                    </div>
                </div>
            </div>
            <div class="footer-copyright">
                <div class="container">
                    Ruy Rodrigo Garcia Chavez © 2016. All rights Reserved.
                </div>
            </div>
        </footer>
		{{!--
			//- jQuery 1.11.3 is included by default, and required by both Bootstrap
			//- and the KeystoneJS Content Editor. If you are not targeting IE8,
			//- you can upgrade to 2.1.4 (also bundled) for better performance.
		--}}
		<script src="/js/jquery/jquery-1.11.3.min.js"></script>
		{{!--
			//- Customise which Bootstrap javascript files are served by including
			//- them specifically here, instead of bootstrap-3.3.5.min.js
		--}}
		<script src="/js/bootstrap/bootstrap-3.3.5.min.js"></script>

        <!-- Materialize CSS mnified JS -->
		<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.7/js/materialize.min.js"></script>
	
        <!-- Compiled and minified JavaScript -->
        <script src="/js/site/layout/layout.js"></script>
        <script src="/js/site/index/index.js"></script>
		{{{isAdminEditorJS user}}}
	</body>
</html>
