{{!< default}}
<div id="index">
    <div class="carousel carousel-slider center" data-indicators="true">
        <video autoplay="" loop="" muted="">
            <!--<source src="http://touchtitans.com/wp-content/uploads/2014/11/video-background.mp4" type="video/mp4">-->
            <!--<source src="http://touchtitans.com/wp-content/uploads/2014/11/video-background.webm" type="video/webm">-->
            <!--<source src="http://touchtitans.com/wp-content/uploads/2014/11/video-background.ogv" type="video/ogg">-->
        </video>
        <div class="carousel-item white-text">
            <h1>A software developer begins a project by coding first,</h1>
			<h1>a <span class="yellow black-text">software engineer</span> begins by designing first.</h1>
        </div>
    </div>

    <!-- Who am I -->
    <div class="section white">
        <div class="row container">
            <div class="col">
				<h4 class="header">Who Am I</h4>
                <div class="card horizontal hoverable">
                    <div class="card-image hide-on-small-only">
                        <div id="me"></div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
							<span class="card-title">Ruy R. Garcia</span>
							<h5>Software Engineer</h5>
                            <blockquote>
                                I’m a passionate about technology who is always looking for new tools and skills in
                                order to be able to achieve and do more everyday. I firmly believe in research, design,
                                structure and plan every project in order to meet its requirements and achieve its
                                goals.
								<br>
								<br>
                                I have solid experience on Web development with JavaScript technologies such as Node.js,
                                AngularJS, Ionic Framework and Angular2 as well as other related Web technologies like
                                PHP. I also have experience with Web Services and REST API (SaaS architectures) design
                                and development as well as with IoT prototype projects using Arduino and ESP8266 boards.
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- Stalking cat -->
    <div class="parallax-container">
        <div class="parallax"><img src="/images/cats/01.jpg"></div>
    </div>

    <!-- What I Do -->
    <div class="section white">
        <div class="row container">
            <div class="col s12">
                <h4>What I Do</h4>
            </div>
			{{# each whatIDo}}
            <div class="col s12 m6">
                <div class="card">
                    <div class="card-image">
                        <img src="images/{{ image }}">
                        <span class="card-title">{{ title }}</span>
                    </div>
                    <div class="card-content">
                        <p>{{ description }}</p>
                    </div>
                </div>
            </div>
			{{/each}}
        </div>
    </div>

    <!-- Stalking cat -->
    <div class="parallax-container">
        <div class="parallax"><img src="/images/cats/02.jpg"></div>
    </div>

    <!-- Projects -->
    <div id="board" class="section white">
        <div class="row container">
            <div class="col s12">
                <h4>Projects</h4>
            </div>

            <!-- Backlog -->
			{{# each projects }}
            <div class="col s12 m4">
                <div class="card blue-grey lighten-3">
                    <div class="card-content">
                    <span class="card-title white-text">{{ name }}</span>

                        {{# each items }}
						<div class="card">
                            <div class="card-content">
                            	<span class="card-title">{{ name }}</span>
                                <blockquote>{{ description }}</blockquote>
                                <p>{{ stack }}</p>
                            </div>
                        </div>
						{{/each}}

                    </div>
                </div>
            </div>

			{{/each}}

            <!--&lt;!&ndash; In Progress &ndash;&gt;-->
            <!--<div class="col s12 m4">-->
                <!--<div class="card">-->
                    <!--<span class="card-title">IN PROGRESS</span>-->
                    <!--<div class="card-content">-->
                        <!--<div class="card">-->
                            <!--<span class="card-title">Jupiter API</span>-->
                            <!--<div class="card-content">-->
                                <!--<blockquote>REST API platform to serve multiple mobile and hardware clients to be-->
                                    <!--integrated as an enterprise ERP system.-->
                                <!--</blockquote>-->
                                <!--<p>Related technologies: Node.js, express.js, Ionic Framework, AngularJS, Arduino</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

            <!--&lt;!&ndash; Done &ndash;&gt;-->
            <!--<div class="col s12 m4">-->
                <!--<div class="card">-->
                    <!--<span class="card-title">DONE</span>-->
                    <!--<div class="card-content">-->
                        <!--<div class="card">-->
                            <!--<span class="card-title">Jupiter API</span>-->
                            <!--<div class="card-content">-->
                                <!--<blockquote>REST API platform to serve multiple mobile and hardware clients to be-->
                                    <!--integrated as an enterprise ERP system.-->
                                <!--</blockquote>-->
                                <!--<p>Related technologies: Node.js, express.js, Ionic Framework, AngularJS, Arduino</p>-->
                            <!--</div>-->
                        <!--</div>-->
                    <!--</div>-->
                <!--</div>-->
            <!--</div>-->

        </div>
    </div>

    <!-- Stalking cat -->
    <div class="parallax-container">
        <div class="parallax"><img src="/images/cats/03.jpg"></div>
    </div>

    <!-- Contact form -->
    <div id="contact" class="section white board">
        <div class="row container">
            <div class="col s12">
				<h4 class="header">Let's Talk About Your Next Project!</h4>
                <div class="card horizontal">
                    <div class="card-image hide-on-small-only">
						<div id="form-image"></div>
                    </div>
                    <div class="card-stacked">
                        <div class="card-content">
                            <div class="card-title"></div>
                            <div class="row">
                                <form class="col s12">
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">account_circle</i>
                                            <input id="name" type="text" class="validate">
                                            <label for="name">Name</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">business</i>
                                            <input id="company" type="text" class="validate">
                                            <label for="company">Company</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">mail</i>
                                            <input id="email" type="email" class="validate">
                                            <label for="email">Email</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">call</i>
                                            <input id="phone" type="tel" class="validate">
                                            <label for="phone">Phone</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">subject</i>
                                            <input id="subject" type="email" class="validate">
                                            <label for="subject">Subject</label>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="input-field col s12">
                                            <i class="material-icons prefix">message</i>
                                            <textarea id="message" class="materialize-textarea"></textarea>
                                            <label for="message">Message</label>
                                        </div>
                                    </div>
									<div class="row">
										<div class="col offset-s6">
                                        	<a class="waves-effect waves-light btn"><i class="material-icons right">send</i>submit</a>
										</div>
									</div>
                                </form>
								
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        <div class="row container">
			<div class="col">
				<p>btw... I really love cats.</p>
			</div>
		</div>
		
    </div>
	
	
</div>
